<%- include('./templates/header.ejs')%>

    <div class="booksSection">
        <div class="container column">
            <div class="findingBar">
                <form class="searchForm">
                    <input class="input" type="text" placeholder="Search for a book"/>
                    <button class="btn blue rounded">Search</button>    
                </form>
            </div>
            <div class="booksGrid">
                <% if(books.length > 0) { %>
                    <% books.forEach(book => { %>
                        <div class="bookCard">
                            <div class="bookCover">
                                <img src='<%= book.imgUrl %>'/>
                                <div class="hoverBox">+ Add to my list</div>
                            </div>
                            <div class="bookInfo">
                                <div class="bookMeta">
                                    <p class="bookName"><%= book.name %></p>
                                    <p class="authorName"><%= book.author %></p>
                                </div>
                                <div class="bookRating">
                                    <p>4,5</p>
                                </div>
                            </div>
                        </div>
                    <% })%>
                <% } else {%>
                   
                <% } %>
            </div>
        </div>
    </div>

<%- include('./templates/footer.ejs')%>